<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row">
    <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <input ngModel name="startDate" id="startDate" matInput [matDatepicker]="startDate" placeholder="Fecha de inicio">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <input matInput ngModel name="startTime" 
        id="startTime"  
        type="time" placeholder="Hora de inicio"
        value="00:00">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <input ngModel name="endDate" id="endDate" matInput [matDatepicker]="endDate" placeholder="Fecha de fin">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <input ngModel name="endTime" 
        id="endTime" matInput value="23:59:00"
        type="time" placeholder="Hora de fin">
    </mat-form-field>
  </div>
  <div class="row">
    <button class="btn btn-success" type="submit">Actualizar</button>
  </div>
</form>

<br>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-polyline>
    <agm-polyline-point *ngFor="let point of points; let i = index" [latitude]="point.lat" [longitude]="point.lng">
      <agm-marker *ngIf="i%10==0"
          [latitude]="point.lat"
          [longitude]="point.lng"
          [iconUrl]="{url: './assets/marcador.png', anchor: '15, 15'}">
          <agm-info-window>
            Fecha: {{point.date.toLocaleString() }}
            Velocidad: {{point.speed}}
          </agm-info-window>
      </agm-marker>
    </agm-polyline-point>
  </agm-polyline>
</agm-map>