<h2>Usuarios</h2>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let user of users">
    <div class ="usrDetail">
        <h6>Nombre de usuario: <small>{{ user.username }}</small></h6>
        <h6>Nombre: <small>{{ user.name }}</small></h6>
        <h6>Apellido: <small>{{ user.lastname }}</small></h6>
        <h6>Rol: <small>{{ user.role }}</small></h6>
        <input class="btn btn-warning" type="button" value="Editar">
        <input class="btn btn-danger" type="button" value="Eliminar">
    </div>
  </div>
</div>
