<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-polyline>
      <agm-polyline-point *ngFor="let point of points" [latitude]="point.lat" [longitude]="point.lng">
        <agm-marker
            [latitude]="point.lat"
            [longitude]="point.lng">
        </agm-marker>
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
</div>