<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="/" class="navbar-brand">Easy GPS</a>
		</div>
		<div class="navbar-default">
			<ul class="nav navbar-nav">
				<ng-template [ngIf]="authService.isAuthenticated()">
						<li routerLinkActive="active"><a routerLink="user">Usuarios</a></li>
				</ng-template>	
				<ng-template [ngIf]="authService.isAuthenticated()">
					<li routerLinkActive="active"><a routerLink="gpspointlist">Ver recorrido</a></li>
			</ng-template>				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<ng-template [ngIf]="!authService.isAuthenticated()">
					<li><a routerLink="/signin">Login</a></li>
				</ng-template>
		
				<li>
					<a
					style="cursor: pointer;"
					(click)="onLogout()"
					*ngIf="authService.isAuthenticated()">Logout</a>
				</li>
			</ul>
		</div> 
	</div>
</nav>
